---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div
		class='w-full h-[100vh] flex flex-col justify-center items-center gap-10'
	>
		<img src='/Logo.svg' />
		<h2 class='font-open-sans uppercase'></h2>
		<span
			class='flex justify-center items-center border rounded-full w-8 h-8 font-open-sans text-sm'
		></span>
	</div>
</Layout>

<script>
	const paramsString = window.location.search
	const searchParams = new URLSearchParams(paramsString)
	const locale = searchParams.get('locale')
	let countValue = 4
	const span = document.querySelector('span')
	if (span) span.textContent = countValue.toString()

	const h2 = document.querySelector('h2')
	if (h2) h2.textContent = locale === 'es' ? 'Próximamente' : 'Coming soon'

	function countDown() {
		setInterval(() => {
			countValue -= 1
			if (span && countValue > 0) span.textContent = countValue.toString()
			if (countValue === 0)
				window.location.href = locale?`https://dominikfrackowiak.com/${locale}`:'https://dominikfrackowiak.com'
		}, 1000)
	}

	countDown()
</script>
